<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a CSLA Inherited object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA object to inherit from." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
//<!-- #include file="Header.inc" -->
using System;
using NUnit.Framework;
using <%=Info.ObjectNamespace%>;

namespace <%= Info.ObjectNamespace %>.UnitTest
{
	/// <summary>
	/// <%= Info.ObjectName %> business object.
	/// </summary>
	/// <remarks>
	/// 
	/// </remarks>
	[TestFixture]
	public class <%= Info.ObjectName %>Test : <%= Info.ObjectName %>TestBase
	{
	
	}
}