<%@ CodeTemplate Inherits="CslaTemplateHelper" Debug="false" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Editable Child Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the EditableChild Object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Property Name="ActiveObjects" Type="System.Boolean" Default="false" Category="Options" Description="if true, base class is generated as ActiveObjects" %>

<% bool first = true; %>
<!-- #include file="Header.inc" -->
using System;
using System.Data;
using System.Data.SqlClient;
using Csla;
<% if (ActiveObjects) { %>using ActiveObjects;
<% } %>using Csla.Data;
using Csla.Validation;
<%= GetUsingStatementsString(Info) %>
<% if (Info.ObjectNamespace.Trim().Length > 0) { %>namespace <%=Info.ObjectNamespace%>
{	<% } %>
	<!-- #include file="XmlComment.inc" -->
	<% if (GetAttributesString(Info.Attributes) != string.Empty) { %>
	<%= GetAttributesString(Info.Attributes) %>
	<% } %>
	[Serializable()]
	<% if (ActiveObjects && Info.SubscribeToChannel.Length > 0) { %>[Subscribe("<%= Info.SubscribeToChannel %>")]
	<% } %>public partial class <%=Info.ObjectName%> : <%
		if (Info.InheritedType.Type != String.Empty) { 
			%><%=Info.InheritedType.Type%><% 
		} else if (Info.InheritedType.ObjectName != String.Empty) {
			%><%=Info.InheritedType.ObjectName%><% 
		 } else { 
			%><% if (ActiveObjects) { %>Active<% } %>BusinessBase<% 
		} %><<%=Info.ObjectName%>><!-- #include file="Implements.inc" -->	
	{
		<!-- #include file="StateFields.inc" -->
		
		<!-- #include file="BusinessProps.inc" --> 
		
		<!-- #include file="BusinessRules.inc" -->
		
		<!-- #include file="ObjectOverrides.inc" -->
		
		<% if (Info.GenerateFactoryMethods) { 
			if (Info.DbName.Trim().Equals(String.Empty))
				Errors.Append("Make sure you specify a DB name.\r\n");
		%>
		<% Response.Write("\r\n"); %>
		#region Factory Methods
		<!-- #include file="NewObject.inc" -->

			<% if (Info.DbName != String.Empty) { %>
				<% if (!Info.LazyLoad) { %>
		<!-- #include file="InternalGetObject.inc" -->
				<%  } else {  %>
		<!-- #include file="GetObject.inc" -->
				<% } %>
			<% } %>
		<% Response.Write("\r\n"); %>
		#endregion
		<% } %>
		<!-- #include file="SharedAuthorizationMethods.inc" -->
		
		<!-- #include file="Constructor.inc"  -->
		
		<!-- #include file="Criteria.inc"  -->
		<% if (Info.DbName != String.Empty) { %>
		<% if (Info.GenerateDataAccessRegion) { %>
		
		#region Data Access
		<!-- #include file="DataPortalCreate.inc"  -->
		
		<!-- #include file="DataPortalFetch.inc" -->

		<!-- #include file="InternalUpdate.inc" -->	
		
		#endregion
		<% } %>
		<% } %>
		<!-- #include file="Events.inc" -->

		<!-- #include file="SetParent.inc" -->
		
	}
	
<% if ( Info.ObjectNamespace.Trim().Length > 0 ) { %>
}
<% } %>
