<%@ CodeTemplate Inherits="VbCslaTemplateHelper" Language="VB" TargetLanguage="VB" Description="Generates a CSLA Editable Root Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="False" Category="Business Object" Description="Definition of the EditableRoot object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="False" Category="Options" Description="Allows the template to return errors to master.cst" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Assembly Name="System.Windows.Forms" %>
<%@ Import Namespace="System.Windows.Forms" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Property Name="ActiveObjects" Type="System.Boolean" Default="false" Category="Options" Description="If true, base class is generated as ActiveObjects" %>

<% Dim first As Boolean = True %>
<!-- #include file="Header.inc" -->
Imports System.Data.SqlClient
<% If ActiveObjects Then %>Imports ActiveObjects<% Else %>Imports CSLA<% End If %>
Imports CSLA.Data
Imports CSLA.Validation
<%= GetUsingStatementsString(Info) %>
<% If Info.ObjectNamespace.Trim.Length > 0 Then %>Namespace <%=Info.ObjectNamespace%><% End If %>
<!-- #include file="XmlComment.inc" -->
<%= GetAttributesString(Info.Attributes) %>
<Serializable()<%
	If ActiveObjects Then 
		If Info.SubscribeToChannel.Length > 0 Then
		%>, Subscribe("<%= Info.SubscribeToChannel %>")<% 
		End If 
	End If %>> _
Public Partial Class <%=Info.ObjectName %> 
	Inherits <%
		If Info.InheritedType.Type <> String.Empty Then 
			%><%=Info.InheritedType.Type%><% 
		ElseIf Info.InheritedType.ObjectName <> String.Empty Then
			%><%=Info.InheritedType.ObjectName%><% 
		Else 
			%><% If ActiveObjects Then %>Active<% End If %>BusinessBase(Of <%=Info.ObjectName %>)<% 
		End If %>
		<!-- #include file="Implements.inc" -->	
		
		<!-- #include file="StateFields.inc" -->
		
		<!-- #include file="BusinessProps.inc" -->
		
		<!-- #include file="BusinessRules.inc" -->
		
		<!-- #include file="ObjectOverrides.inc" -->
		
#Region " Shared Methods "
	<% If Info.GenerateFactoryMethods Then 
			If Info.DbName.Trim().Equals(String.Empty) Then
				Errors.Append("	Make sure you specify a DB name.") 
				Errors.Append(vbCrLf)
			End If
	%>
		<!-- #include file="NewObject.inc" -->
		
		<!-- #include file="GetObject.inc" -->
		
		<!-- #include file="DeleteObject.inc" -->
	<% End If %>
		<!-- #include file="Save.inc" -->
#End Region
		<!-- #include file="Constructor.inc"  -->
		
		<!-- #include file="Criteria.inc"  -->		
		
		<!-- #include file="SharedAuthorizationMethods.inc" -->	

<% If Info.GenerateDataAccessRegion Then %>

#Region " Data Access "
		<!-- #include file="DataPortalCreate.inc"  -->
		
		<!-- #include file="DataPortalFetch.inc"  -->
		
		<!-- #include file="DataPortalInsert.inc" -->		
		
		<!-- #include file="DataPortalUpdate.inc" -->	
		
		<!-- #include file="DoInsertUpdate.inc" -->		
		
		<!-- #include file="DataPortalDelete.inc" -->
#End Region
		<!-- #include file="Events.inc" -->
		
<% End If %>

		<!-- #include file="SetParent.inc" -->

End Class
	
<% If Info.ObjectNamespace.Trim.Length > 0 Then %>End Namespace<% End If %>
