<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Inherited Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object to inherit from." %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

<!-- #include file="Header_DalObject.asp" -->

using <%= GetContextObjectNamespace(Info, CurrentUnit, GenerationStep.DalInterface) %>;

namespace <%= GetContextObjectNamespace(Info, CurrentUnit, GenerationStep.DalInterface) %>
{
<%
bool? firstComment = true;
%><!-- #include file="XmlComment_DalObject.asp" -->
    public partial class <%= Info.ObjectName %>Dal : I<%= Info.ObjectName %>Dal
    {
    }
}
