<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Editable Root Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the EditableRoot Object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>
<%@ Property Name="MethodList" Type="System.Collections.Generic.List<string>" Optional="false" Category="Options" Description="Allows the template to return a list a partial methods to master.cst (for Silverlight using services)" %>

<%@ Assembly Name="DBSchemaInfo" %>
<%@ Import Namespace="DBSchemaInfo.Base" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Assembly Name="System.Windows.Forms" %>
<%@ Import Namespace="System.Windows.Forms" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Reflection" %>

<!-- #include file="ObjectValidate.asp" -->
<!-- #include file="EditableRoot_Validate.asp" -->
<%
if (Errors.Length == 0)
{
    GenerationStep genStep = GenerationStep.Business;
    bool usesDTO = DalObjectUsesDTO(Info);
    bool usesDalCriteria = DalObjectUsesCriteria(Info);
    bool isChild = false;
    bool useChildFactory = CurrentUnit.GenerationParams.UseChildFactory;
    int silverlightLevel = 0;
    bool genOptional = false;
    bool useItem = false;
    bool? firstComment = null;
    %><!-- #include file="Header.asp" -->
<!-- #include file="Using.asp" -->
namespace <%= GetContextObjectNamespace(Info, CurrentUnit, genStep) %>
{

    <!-- #include file="XmlComment.asp" -->
    <%
    if (GetAttributesString(Info.Attributes) != string.Empty)
    {
        %>
    <%= GetAttributesString(Info.Attributes) %>
    <%
    }
    %>
    [Serializable]
    public partial class <%= Info.ObjectName %> : <%
    if (Info.InheritedType.Type != string.Empty || Info.InheritedType.ObjectName != string.Empty)
    {
        %><!-- #include file="Inherits.asp" --><%
    }
    else
    {
        %>BusinessBase<<%= Info.ObjectName %>><!-- #include file="Implements.asp" --><%
    }
    %>
    {
<!-- #include file="StaticFields.asp" -->
<!-- #include file="StateFields.asp" -->
<!-- #include file="BusinessProps.asp" -->
<!-- #include file="ObjectOverrides.asp" -->
    <%
    Response.Write(Environment.NewLine);
    if (Info.GenerateFactoryMethods)
    {
        %>
<!-- #include file="EditableRoot_Factory.asp" -->
<%
    }
    Response.Write(Environment.NewLine);
    %>
<!-- #include file="Constructor.asp" -->
<!-- #include file="Criteria.asp" -->
<!-- #include file="ObjectAuthorizationMethods.asp" -->
<!-- #include file="BusinessRules.asp" -->
<!-- #include file="ConvertProperties.asp" -->
<%
    if (Info.GenerateDataAccessRegion)
    {
        if (!genOptional)
        {
            Response.Write(Environment.NewLine);
        }
        %>
<!-- #include file="EditableRoot_DataPortal.asp" -->
<!-- #include file="Events.asp" -->
<%
    }
    %>

    }
<!-- #include file="CriteriaObject.asp" -->
}
<%
}
%>
