<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Editable Root Collection." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the EditableRootCollection Object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>
<%@ Property Name="Infos" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return infos to master.cst" %>
<%@ Property Name="MethodList" Type="System.Collections.Generic.List<AdvancedGenerator.ServiceMethod>" Optional="false" Category="Options" Description="Allows the template to return a list a partial methods to master.cst (for Silverlight using services)" %>

<%@ Assembly Name="DBSchemaInfo" %>
<%@ Import Namespace="DBSchemaInfo.Base" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Reflection" %>

<!-- #include file="ObjectValidate.asp" -->
<!-- #include file="EditableRootCollection_Validate.asp" -->
<%
if (Errors.Length == 0)
{
    bool isItem = false;
    bool isParentRootCollection = false;
    bool useIsLoadedProperty = false;
    parentInfo = null;
    CslaObjectInfo grandParentInfo = null;
    bool useBypassPropertyChecks = CurrentUnit.GenerationParams.UseBypassPropertyChecks;
    string bpcSpacer = useBypassPropertyChecks ? bpcSpacer = new string(' ', 4) : string.Empty;
    bool ancestorIsCollection = false;
    int ancestorLoaderLevel = AncestorLoaderLevel(Info, out ancestorIsCollection);
    GenerationStep genStep = GenerationStep.Business;
    bool usesDTO = CurrentUnit.GenerationParams.GenerateDTO;
    int silverlightLevel = 0;
    bool genOptional = false;
    bool useItem = false;
    bool? firstComment = null;
    %><!-- #include file="Header.asp" -->
<%= GetUsingStatementsStringBusiness(Info, CurrentUnit) %>
namespace <%= GetContextObjectNamespace(Info, CurrentUnit, genStep) %>
{

    <!-- #include file="XmlComment.asp" -->
    <%
    if (GetAttributesString(Info.Attributes) != string.Empty)
    {
        %>
    <%= GetAttributesString(Info.Attributes) %>
    <%
    }
    %>
    [Serializable]
<%
    if (CurrentUnit.GenerationParams.DualListInheritance)
    {
        %>#if WINFORMS
    <%= CurrentUnit.GenerationParams.DualListInheritance ? "" : "    " %><%= Info.ClassVisibility == ClassVisibility.Public ? "public" : "internal" %> partial class <%= Info.ObjectName %> : <%
        if (Info.InheritedTypeWinForms.Type != string.Empty || Info.InheritedTypeWinForms.ObjectName != string.Empty)
        {
            %><!-- #include file="InheritsWinForms.asp" --><%
        }
        else
        {
            %><%= ListBaseHelper("Business", true) %><<%= Info.ObjectName %>, <%= Info.ItemType %>><!-- #include file="Implements.asp" --><%
        }

        %>#else
    <%
    }
    %><%= CurrentUnit.GenerationParams.DualListInheritance ? "" : "    " %><%= Info.ClassVisibility == ClassVisibility.Public ? "public" : "internal" %> partial class <%= Info.ObjectName %> : <%
    if (Info.InheritedType.Type != string.Empty || Info.InheritedType.ObjectName != string.Empty)
    {
        %><!-- #include file="Inherits.asp" --><%
    }
    else
    {
        %><%= ListBaseHelper("Business", CurrentUnit.GenerationParams.GenerateWinForms && !CurrentUnit.GenerationParams.DualListInheritance) %><<%= Info.ObjectName %>, <%= Info.ItemType %>><!-- #include file="Implements.asp" --><%
    }
    if (CurrentUnit.GenerationParams.DualListInheritance)
    {
        %>#endif
    <%
    }
    %><%= CurrentUnit.GenerationParams.DualListInheritance ? "" : "    " %>{
<!-- #include file="CollectionBusinessMethods.asp" -->
<!-- #include file="FindMethods.asp" -->
    <%
    if (Info.GenerateFactoryMethods)
    {
        if (CurrentUnit.GenerationParams.TargetIsCsla40)
        {
            %>
<!-- #include file="EditableRootCollection_Factory.asp" -->
<%
        }
        else
        {
            %>
<!-- #include file="EditableRootCollection_Factory-45.asp" -->
<%
        }
    }
    Response.Write(Environment.NewLine);
    %>
<!-- #include file="Constructor.asp" -->
<!-- #include file="InvalidateCachedList.asp" -->
<!-- #include file="Criteria.asp" -->
<!-- #include file="ObjectAuthorizationMethods.asp" -->
<%
    if (Info.GenerateDataAccessRegion)
    {
        if (!genOptional)
        {
            Response.Write(Environment.NewLine);
        }
        if (!Info.UseCustomLoading)
        {
            %>
<!-- #include file="EditableRootCollection_DataPortal.asp" -->
<%
            Response.Write(Environment.NewLine);
        }
%>
<!-- #include file="Events.asp" -->

<%
    }
    else
    {
        Response.Write(Environment.NewLine);
    }
    %>
    }
<!-- #include file="CriteriaObject.asp" -->
}
<%
}
%>
