<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Dynamic Root Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the DynamicEditableRoot Object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>
<%@ Property Name="MethodList" Type="System.Collections.Generic.List<string>" Optional="false" Category="Options" Description="Allows the template to return a list a partial methods to master.cst (for Silverlight using services)" %>

<%@ Assembly Name="DBSchemaInfo" %>
<%@ Import Namespace="DBSchemaInfo.Base" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Assembly Name="System.Windows.Forms" %>
<%@ Import Namespace="System.Windows.Forms" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Reflection" %>

<!-- #include file="ObjectValidate_DalInterface.asp" -->
<!-- #include file="DynamicEditableRoot_Validate.asp" -->
<%
if (Errors.Length == 0)
{
    bool isItem = true;
    bool isParentRootCollection = true;
    CslaObjectInfo grandParentInfo = null;
    isChild = false;
    bool isChildSelfLoaded = false;
    bool isChildLazyLoaded = false;
    bool useBypassPropertyChecks = CurrentUnit.GenerationParams.UseBypassPropertyChecks;
    string bpcSpacer = useBypassPropertyChecks ? bpcSpacer = new string(' ', 4) : string.Empty;
    bool ancestorIsCollection = false;
    int ancestorLoaderLevel = AncestorLoaderLevel(Info, out ancestorIsCollection);
    GenerationStep genStep = GenerationStep.DalInterface;
    bool usesDTO = DalObjectUsesDTO(Info);
    bool usesDalCriteria = DalObjectUsesCriteria(Info);
    bool? firstComment = null;
    %><!-- #include file="Header_DalInterface.asp" -->
using System;
using System.Data;
using Csla;

namespace <%= GetContextObjectNamespace(Info, CurrentUnit, genStep) %>
{
<!-- #include file="XmlComment_DalInterface.asp" -->
    public partial interface I<%= Info.ObjectName %>Dal
    {<!-- #include file="DataPortalFetch_DalInterface.asp" -->
<!-- #include file="DataPortalInsert_DalInterface.asp" -->
<!-- #include file="DataPortalUpdate_DalInterface.asp" -->
<!-- #include file="DataPortalDelete_DalInterface.asp" -->
    }
}
<%
}
%>
