<%@ CodeTemplate Inherits="CslaTemplateHelper" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA ReadOnly Collection." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the ReadOnlyCollection Object to create." %>
<%@ Property Name="ActiveObjects" Type="System.Boolean" Default="false" Category="Options" Description="if ( true, base class is generated as ActiveObjects" %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>

<% bool first = true; %>
<!-- #include file="Header.inc" -->
using System;
using System.Data;
using System.Data.SqlClient;
<% if (ActiveObjects) { %>using ActiveObjects;<% } else {%>using Csla;<% } %>
using Csla.Data;
<%= GetUsingStatementsString(Info) %>
<% if (Info.ObjectNamespace.Trim().Length > 0) { %>namespace <%=Info.ObjectNamespace%>
{ <% } %>
	<!-- #include file="XmlComment.inc" -->
	<% if (GetAttributesString(Info.Attributes) != string.Empty) { %>
	<%= GetAttributesString(Info.Attributes) %>
	<% } %>
	[Serializable()]
	<% if (ActiveObjects && Info.SubscribeToChannel.Length > 0) { %>[Subscribe("<%= Info.SubscribeToChannel %>")]
	<% } %>public partial class <%=Info.ObjectName%> : <% 
		if (ActiveObjects) { %>Active<% } %>ReadOnlyListBase<<%=Info.ObjectName%>, <%=Info.ItemType %>><!-- #include file="Implements.inc" -->	
	{
	
		<!-- #include file="CollectionBusinessProps.inc" -->

		<!-- #include file="FindMethods.inc" -->
		
	<% if (Info.GenerateFactoryMethods) { 
		if (Info.DbName.Trim().Equals(String.Empty)) {
			Errors.Append("	Make sure you specify a DB name.\r\n");
		}
	%>
		<% Response.Write("\r\n"); %>
		#region Factory Methods
		<!-- #include file="GetObject.inc" -->

		<!-- #include file="InternalGetObject.inc" -->
		#endregion
	<% } %>
		<!-- #include file="Constructor.inc" -->
		
		<!-- #include file="Criteria.inc" -->
			
		<!-- #include file="SharedAuthorizationMethods.inc" -->	
<% if (Info.GenerateDataAccessRegion) { %>
	
		#region Data Access
		<!-- #include file="CollectionDataPortalFetch.inc" -->
		#endregion
		<!-- #include file="Events.inc" -->

<% } %>

	}

<% if (Info.ObjectNamespace.Trim().Length > 0) { %>
}
<% } %>
