<%@ CodeTemplate Inherits="CslaTemplateHelper" Language="C#" TargetLanguage="C#" Description="Generates a CSLA Editable Child Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the EditableChild object to create." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>

<% bool first = true; %>
<!-- #include file="Header.inc" -->
using CSLA;
using CSLA.Data;
using System.Data;
using System.Data.SqlClient;
using System;
<%= GetUsingStatementsString(Info) %>
namespace <%=Info.ObjectNamespace%>
{
	<!-- #include file="XmlComment.inc" --> 
	<%= "\r\n" %>	[Serializable]
	public abstract class <%=Info.ObjectName%>Base : <%
		if (Info.InheritedType.Type != String.Empty) {
			%><%=Info.InheritedType.Type%><%
		} else if (Info.InheritedType.ObjectName != String.Empty) {
			%><%=Info.InheritedType.ObjectName%><%
		} else {
			%>CSLA.BusinessBase<% 
		} %>
	{
		<!-- #include file="StateFields.inc" -->
		
		<!-- #include file="BusinessProps.inc" -->
		
		<!-- #include file="BusinessRules.inc" -->
		
		<!-- #include file="ObjectOverrides.inc" -->
		<%= "\r\n" %>		#region Shared Methods
		<!-- #include file="NewObject.inc" -->
		<% if (Info.DbName != String.Empty) { %>
			<% if (!Info.LazyLoad) { %>
		<!-- #include file="InternalGetObject.inc" -->
			<% } else { %>
		<!-- #include file="GetObject.inc" -->
			<% } %>
		<% } %>
		<%= "\r\n" %>		#endregion
		<!-- #include file="Constructor.inc"  -->
		
		<!-- #include file="Criteria.inc"  -->
		<% if (Info.DbName != String.Empty) { %>
		
		#region Data Access
		<!-- #include file="DataPortalCreate.inc"  -->
		
		<!-- #include file="InternalUpdate.inc" -->	
		<% //if (!Info.LazyLoad) { %>
		<!-- #include file="InternalFetch.inc" --> 
		<% //} else { %>
		<!-- #include file="DataPortalFetch.inc" -->
		<% //} %>
		
		#endregion
		<% } %>
		
		
		<!-- #include file="TemplateMethods.inc.inc"  -->
		
	}
}

