<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a static Database class." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object (just to get some project info)" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Collections.Generic" %>

<%
int silverlightLevel = 0;
bool genOptional = false;
List<string> dbNameList = new List<string>();
foreach (CslaObjectInfo cslaInfo in CurrentUnit.CslaObjects)
{
    if (cslaInfo.Generate)
    {
        if(!dbNameList.Contains(cslaInfo.DbName))
            dbNameList.Add(cslaInfo.DbName);
    }
}
if (CurrentUnit.GenerationParams.HeaderVerbosity != HeaderVerbosity.None)
{
    %>
<!-- #include file="HeaderVersion.asp" -->
<%
    Response.Write(Environment.NewLine);
}
%>
using System.Configuration;

<%
if (CurrentUnit.GenerationParams.UtilitiesNamespace.Length > 0)
{
%>namespace <%= CurrentUnit.GenerationParams.UtilitiesNamespace %>
{
    <%
}
%>
    /// <summary>Class that provides the connection
    /// strings used by the application.</summary>
    internal static class Database
    {

        #region Database Connections

        <%
foreach (string dbName in dbNameList)
{
        %>/// <summary>Connection string to the <%= dbName %> database.</summary>
        internal static string <%= dbName %>Connection
        {
            get { return ConfigurationManager.ConnectionStrings["<%= dbName %>"].ConnectionString; }
        }

        <%
}
        %>/// <summary>Connection string to the security database.</summary>
        internal static string SecurityConnection
        {
            get { return ConfigurationManager.ConnectionStrings["Security"].ConnectionString; }
        }

        #endregion

    }
<%
if (CurrentUnit.GenerationParams.UtilitiesNamespace.Length > 0)
{
%>
}
<%
}
%>
