<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Inherited Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object to inherit from." %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

<!-- #include file="Header.asp" -->
<%
int silverlightLevel = 0;
bool genOptional = false;
if (Info.ObjectNamespace.IndexOf(CurrentUnit.GenerationParams.UtilitiesNamespace) != 0)
{
    %><%= IfSilverlight (Conditional.NotSilverlight, 0, ref silverlightLevel, false, true) %>using <%= CurrentUnit.GenerationParams.UtilitiesNamespace %>;
<%= IfSilverlight (Conditional.End, 0, ref silverlightLevel, false, true) %>
<%
}
if (Info.ObjectNamespace.Length > 0)
{
    %>namespace <%= Info.ObjectNamespace %>
{
<%
}
%>
    public partial class <%= Info.ObjectName %>
    {
        <%
if (Info.ObjectType != CslaObjectType.UnitOfWork)
{
    System.Collections.Generic.List<string> eventList = GetEventList(Info);
    if (eventList.Count > 0 && UseNoSilverlight())
    {
        if (UseBoth())
        {
            %>

#if !SILVERLIGHT
<%
        }
        %>

        #region Pseudo Event Handlers
<%

        foreach (string strEvent in eventList)
        {
            %>

        //partial void On<%= strEvent %>(DataPortalHookArgs e)
        //{
        //    throw new System.Exception("The method or operation is not implemented.");
        //}
        <%
        }
        %>

        #endregion

    <%
    }
    if (UseBoth())
    {
        %>
#endif

<%
    }
    if (CurrentUnit.GenerationParams.SilverlightUsingServices)
    {
        if (UseBoth())
        {
            %>
#if SILVERLIGHT
<%
        }
        %>

<%
        if (UseBoth())
        {
            %>
#endif

<%
        }
    }
}
%>
    }
<%
if (Info.ObjectNamespace.Length > 0)
{
    %>
}
    <%
}
%>
