<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a CSLA Inherited Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object to inherit from." %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

<!-- #include file="Header.asp" -->
<%= GetUsingStatementsString(Info) %>
<%
if (Info.ObjectNamespace.Length > 0)
{
%>namespace <%= Info.ObjectNamespace %>
{
<%
}
bool? firstComment = true;
%><!-- #include file="XmlComment.asp" -->
    public partial class <%= Info.ObjectName %>
    {
    }
<%
if (Info.ObjectNamespace.Length > 0)
{
    %>
}
<%
}
%>