<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a static Database class." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object (just to get some project info)" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

<%
int silverlightLevel = 0;
if (CurrentUnit.GenerationParams.HeaderVerbosity != HeaderVerbosity.None)
{
    %>
<!-- #include file="HeaderVersion.asp" -->
<%
    Response.Write(Environment.NewLine);
}
%>
using System.Configuration;

<%
if (CurrentUnit.GenerationParams.UtilitiesNamespace.Length > 0)
{
%>namespace <%= CurrentUnit.GenerationParams.UtilitiesNamespace %>
{
    <%
}
%>
    /// <summary>Class that provides the connection
    /// strings used by the application.</summary>
    internal static class Database
    {

        #region Database Connections

        /// <summary>Connection string to the main database.</summary>
        internal static string <%= Info.DbName %>Connection
        {
            get { return ConfigurationManager.ConnectionStrings["<%= Info.DbName %>"].ConnectionString; }
        }

        /// <summary>Connection string to the security database.</summary>
        internal static string SecurityConnection
        {
            get { return ConfigurationManager.ConnectionStrings["Security"].ConnectionString; }
        }

        #endregion

    }
<%
if (CurrentUnit.GenerationParams.UtilitiesNamespace.Length > 0)
{
%>
}
<%
}
%>
