<%@ CodeTemplate Inherits="CslaTemplateHelperVB" Language="CSharp" TargetLanguage="VB" Description="Generates a static Database class." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object (just to get some project info)" %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

<%
int silverlightLevel = 0;
bool genOptional = false;
if (CurrentUnit.GenerationParams.HeaderVerbosity != HeaderVerbosity.None)
{
    %>
<!-- #include file="HeaderVersion.asp" -->
<%
    Response.Write(Environment.NewLine);
}
%>
Imports System.Configuration

<%= CurrentUnit.GenerationParams.UtilitiesNamespace == string.Empty ? "" : "Namespace " + CurrentUnit.GenerationParams.UtilitiesNamespace %>

    ''' <summary>Class that provides the connection
    ''' strings used by the application.</summary>
    Friend Class Database

        ''' <summary>Connection string to the <%= CurrentUnit.GenerationParams.DatabaseConnection %> database.</summary>
        Friend Shared ReadOnly Property <%= CurrentUnit.GenerationParams.DatabaseConnection %>Connection As String
            Get
                Return ConfigurationManager.ConnectionStrings("<%= CurrentUnit.GenerationParams.DatabaseConnection %>").ConnectionString
            End Get
        End Property

    End Class

<%= CurrentUnit.GenerationParams.UtilitiesNamespace == string.Empty ? "" : "End Namespace" %>
