<%@ CodeTemplate Inherits="CslaTemplateHelperVB" Language="CSharp" TargetLanguage="VB" Description="Generates a CSLA Inherited Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object to inherit from." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="MethodList" Type="System.Collections.Generic.List<AdvancedGenerator.ServiceMethod>" Optional="false" Category="Options" Description="Allows the template to return a list a partial methods to master.cst (for Silverlight using services)" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Collections.Generic" %>

<!-- #include file="Header.asp" -->
<%
bool usesContext = false;
usesContext = IsObjectType(Info.ObjectType) || Info.ObjectType == CslaObjectType.UnitOfWork;
bool hasFactoryCache = false;
bool hasDataPortalCache = false;
CslaObjectInfo invalidatorInfo = Info;
if (Info.ObjectType == CslaObjectType.EditableRootCollection ||
    Info.ObjectType == CslaObjectType.DynamicEditableRoot ||
    Info.ObjectType == CslaObjectType.EditableRoot)
{
    if (Info.ObjectType == CslaObjectType.DynamicEditableRoot)
    {
        invalidatorInfo = Info.Parent.CslaObjects.Find(Info.ParentType);
    }
    foreach (string objectName in invalidatorInfo.InvalidateCache)
    {
        CslaObjectInfo cachedInfo = invalidatorInfo.Parent.CslaObjects.Find(objectName);
        if (cachedInfo.SimpleCacheOptions == SimpleCacheResults.None)
        {
            Errors.Append("Object " + invalidatorInfo.ObjectName + ": " + cachedInfo.ObjectName + " is on 'Invalidate Cache Types' but has 'Cache Results Options' set to 'None'." + Environment.NewLine);
            return;
        }
        else
        {
            if (cachedInfo.SimpleCacheOptions == SimpleCacheResults.Factory)
                hasFactoryCache = hasFactoryCache || true;
            if (cachedInfo.SimpleCacheOptions == SimpleCacheResults.DataPortal)
                hasDataPortalCache = hasFactoryCache || true;
        }
    }
}
int silverlightLevel = 0;
bool genOptional = false;
string cachedContextUtilitiesNamespace = GetContextUtilitiesNamespace(CurrentUnit, GenerationStep.Business);
if (cachedContextUtilitiesNamespace != string.Empty)
{
    if (UseBoth() && !HasSilverlightLocalDataPortalCreate(Info))
    {
        %>#If Not SILVERLIGHT Then
<%
    }
    if (UseNoSilverlight() || HasSilverlightLocalDataPortalCreate(Info))
    {
%>Imports <%= cachedContextUtilitiesNamespace %>
<%
    }
    if (UseBoth() && !HasSilverlightLocalDataPortalCreate(Info))
    {
        %>
#End If
<%
    }
}
%>

<%= Info.ObjectNamespace == string.Empty ? "" : "Namespace " + Info.ObjectNamespace %>

    Partial <%= Info.ClassVisibility == ClassVisibility.Public ? "Public" : "Friend" %> Class <%= Info.ObjectName %>

        #Region " OnDeserialized actions "

        <%
        bool isUpdatable = false;
        if (Info.ObjectType == CslaObjectType.ReadOnlyCollection)
        {
            if (Info.UpdaterType != string.Empty)
            {
                CslaObjectInfo childInfo4 = FindChildInfo(Info, Info.ItemType);
                if (childInfo4.UpdateValueProperties.Count > 0)
                    isUpdatable = true;
            }
        }
        string commentLine = (Info.SupportUpdateProperties || hasFactoryCache || hasDataPortalCache || isUpdatable) ? string.Empty : "' ";
        %>
        <%= commentLine %>''' <summary>
        <%= commentLine %>''' This method is called on a newly deserialized object
        <%= commentLine %>''' after deserialization is complete.
        <%= commentLine %>''' </summary>
        <%
        if (usesContext)
        {
            %>
        <%= commentLine %>''' <param name="context">Serialization context object.</param>
        <%
        }
        %>
        <%= commentLine %>Protected Overrides Sub OnDeserialized(<%= usesContext ? "System.Runtime.Serialization.StreamingContext context" : string.Empty %>)
            <%= commentLine %>MyBase.OnDeserialized(<%= usesContext ? "context" : string.Empty %>)
            <%
        if (Info.SupportUpdateProperties || hasFactoryCache || hasDataPortalCache)
        {
            %>
            <%= commentLine %>AddHandler Saved, AddressOf On<%= Info.ObjectName %>Saved
            <%
            if (Info.SupportUpdateProperties && (hasFactoryCache || hasDataPortalCache))
            {
                %>
            <%= commentLine %>AddHandler <%= Info.ObjectName %>Saved, AddressOf <%= Info.ObjectName %>SavedHandler
            <%
            }
        }
        else if(isUpdatable)
        {
            %>
            <%= commentLine %>AddHandler <%= Info.UpdaterType %>.<%= Info.UpdaterType %>Saved, AddressOf <%= Info.UpdaterType %>SavedHandler
            <%
        }
        %>
            <%= commentLine %>' add your custom OnDeserialized actions here.
        <%= commentLine %>}

        #End Region
        <%
if (Info.ObjectType != CslaObjectType.UnitOfWork)
{
    bool generateRuleRegion = false;
    bool generateAuthRegion = false;

    HaveBusinessRulesCollection allRulesProperties = Info.AllRulableProperties();

    foreach (IHaveBusinessRules rulableProperty in allRulesProperties)
    {
        if (rulableProperty.BusinessRules.Count > 0)
        {
            generateRuleRegion = true;
        }
        if (CurrentUnit.GenerationParams.GenerateAuthorization != AuthorizationLevel.None &&
            CurrentUnit.GenerationParams.GenerateAuthorization != AuthorizationLevel.ObjectLevel)
        {
            if (CurrentUnit.GenerationParams.UsesCslaAuthorizationProvider ||
                rulableProperty.AuthzProvider != AuthorizationProvider.Custom)
            {
                if (!String.IsNullOrWhiteSpace(rulableProperty.ReadRoles) ||
                    !String.IsNullOrWhiteSpace(rulableProperty.WriteRoles))
                {
                    generateAuthRegion = true;
                }
            }
            else if (rulableProperty.ReadAuthzRuleType.Constructors.Count > 0 ||
                     rulableProperty.WriteAuthzRuleType.Constructors.Count > 0)
            {
                generateAuthRegion = true;
            }
        }
        if (generateRuleRegion && generateAuthRegion)
            break;
    }
    bool generateAuthRegion2 = false;
    CslaObjectInfo authzInfo2 = Info;
    if (IsCollectionType(Info.ObjectType))
    {
        authzInfo2 = FindChildInfo(Info, Info.ItemType);
    }
    if (authzInfo2 != null)
    {
        if (CurrentUnit.GenerationParams.GenerateAuthorization != AuthorizationLevel.None &&
            CurrentUnit.GenerationParams.GenerateAuthorization != AuthorizationLevel.PropertyLevel)
        {
            if (CurrentUnit.GenerationParams.UsesCslaAuthorizationProvider ||
                authzInfo2.AuthzProvider != AuthorizationProvider.Custom)
            {
                if (!String.IsNullOrWhiteSpace(authzInfo2.NewRoles) ||
                    !String.IsNullOrWhiteSpace(authzInfo2.GetRoles) ||
                    !String.IsNullOrWhiteSpace(authzInfo2.UpdateRoles) ||
                    !String.IsNullOrWhiteSpace(authzInfo2.DeleteRoles))
                {
                    generateAuthRegion2 = true;
                }
            }
            else if (authzInfo2.NewAuthzRuleType.Constructors.Count > 0 ||
                     authzInfo2.GetAuthzRuleType.Constructors.Count > 0 ||
                     authzInfo2.UpdateAuthzRuleType.Constructors.Count > 0 ||
                     authzInfo2.DeleteAuthzRuleType.Constructors.Count > 0)
            {
                generateAuthRegion2 = true;
            }
        }
    }
    if (generateRuleRegion || generateAuthRegion)
    {
        %>

        #Region " Custom Business Rules and Property Authorization "

        ' Partial Private Sub AddBusinessRulesExtend()
        '     Throw New System.Exception("The method or operation is not implemented.")
        ' End Sub

        #End Region
<%
    }
    if (generateAuthRegion2)
    {
        %>

        #Region " Custom Object Authorization "

        ' Partial Shared Sub AddObjectAuthorizationRulesExtend()
        '     Throw New System.Exception("The method or operation is not implemented.")
        ' End Sub

        #End Region
<%
    }

    // for parent of editable child collections,
    if (Info.ObjectType == CslaObjectType.EditableRoot ||
        Info.ObjectType == CslaObjectType.EditableChild ||
        Info.ObjectType == CslaObjectType.EditableSwitchable)
    {
        List<string> childProperties = new List<string>();
        foreach (ChildProperty childProperty in Info.GetAllChildProperties())
        {
            if (childProperty.DeclarationMode == PropertyDeclaration.Managed ||
            childProperty.DeclarationMode == PropertyDeclaration.ManagedWithTypeConversion ||
            childProperty.DeclarationMode == PropertyDeclaration.Unmanaged ||
            childProperty.DeclarationMode == PropertyDeclaration.UnmanagedWithTypeConversion)
                childProperties.Add(childProperty.Name);
        }

        if (childProperties.Count > 0)
        {
            commentLine = "' ";
            %>

        #Region " ChildChanged Event Handler "

        <%= commentLine %>''' <summary>
        <%= commentLine %>''' Raises the ChildChanged event, indicating that a child object has been changed.
        <%= commentLine %>''' </summary>
        <%= commentLine %>''' <param name="e">ChildChangedEventArgs object.</param>
        <%= commentLine %>Protected Overrides Sub OnChildChanged(Csla.Core.ChildChangedEventArgs e)
            <%= commentLine %>MyBase.OnChildChanged(e);
            <%= commentLine %>
            <%= commentLine %>'  uncomment the lines for child with properties relevant to business rules
            <%
            foreach (string propertyName in childProperties)
            {
                %>
            <%= commentLine %>' PropertyHasChanged(<%= propertyName %>Property);
            <%
            }
            %>
            <%= commentLine %>'  uncomment if there is an object level business rule (introduced in Csla 4.2.0)
            <%= commentLine %>' CheckObjectRules();
        <%= commentLine %>End Sub

        #End Region
<%
        }
    }

    System.Collections.Generic.List<string> eventList = GetEventList(Info);
    if (eventList.Count > 0 && UseNoSilverlight())
    {
        %>

#Region " Pseudo Event Handlers "
<%
        if (UseBoth() && !HasSilverlightLocalDataPortalCreate(Info))
        {
            %>

#If Not SILVERLIGHT Then
<%
        }
        foreach (string strEvent in eventList)
        {
            %>

        ' Partial Private Sub On<%= strEvent %>(args As DataPortalHookArgs)
        '     Throw New System.Exception("The method or operation is not implemented.")
        ' End Sub
        <%
            if (strEvent == "Create" && HasSilverlightLocalDataPortalCreate(Info))
            {
                %>

#If Not SILVERLIGHT Then
        <%
            }
        }
        if (UseBoth())
        {
            %>

#End If
<%
        }
        %>

        #End Region
    <%
    }
}
if (MethodList.Count > 0)
{
    %>
<!-- #include file="ServicesImplementation.asp" -->
<%
}
%>

    End Class
    <%
if (IsCriteriaExtendedClassNeeded(Info))
{
    %>

    #Region " Criteria Object "
    <%
    foreach (Criteria crit in Info.CriteriaObjects)
    {
        if (crit.Properties.Count > 1)
        {
            %>

    Partial <%= Info.ClassVisibility == ClassVisibility.Public ? "Public" : "Friend" %> Class <%= crit.Name %>

    End Class
<%
        }
    }
    %>

    #End Region

    <%
}
%>

<%= Info.ObjectNamespace == string.Empty ? "" : "End Namespace" %>
