<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a Unit of Work (CSLA ReadOnly or Command object)." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the ReadOnly Object to create." %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>
<%@ Property Name="Infos" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return infos to master.cst" %>
<%@ Property Name="MethodList" Type="System.Collections.Generic.List<string>" Optional="false" Category="Options" Description="Allows the template to return a list a partial methods to master.cst (for Silverlight using services)" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>

<!-- #include file="ObjectValidate.asp" -->
<!-- #include file="UnitOfWork_Validate.asp" -->
<%
if (Errors.Length == 0)
{
    bool isUndeletable = false;
    string softDeleteProperty = string.Empty;
    parentInfo = null;
    bool useBypassPropertyChecks = CurrentUnit.GenerationParams.UseBypassPropertyChecks;
    string bpcSpacer = useBypassPropertyChecks ? bpcSpacer = new string(' ', 4) : string.Empty;
    bool ancestorIsCollection = false;
    int ancestorLoaderLevel = 0;
    int silverlightLevel = 0;
    bool genOptional = false;
    bool useItem = false;
    bool first = true;
    bool? firstComment = null;
    %><!-- #include file="Header.asp" -->
<%= GetUsingStatementsString(Info, CurrentUnit) %>
namespace <%= GetContextObjectNamespace(Info, CurrentUnit, GenerationStep.Business) %>
{
<%
    %><!-- #include file="XmlComment.asp" -->
    <%
    if (GetAttributesString(Info.Attributes) != string.Empty)
    {
        %>
    <%= GetAttributesString(Info.Attributes) %>
    <%
    }
    %>
    [Serializable]
    public partial class <%= Info.ObjectName %> : <%= (Info.IsUpdater || Info.IsDeleter) ? "CommandBase" : "ReadOnlyBase" %><<%= Info.ObjectName %>>
    {

<!-- #include file="BusinessProps.asp" -->
<!-- #include file="UnitOfWork_Factory.asp" -->
<%
    Response.Write(Environment.NewLine);
    %>
<!-- #include file="Constructor.asp" -->
<!-- #include file="CriteriaUnitOfWork.asp" -->
<!-- #include file="UnitOfWork_DataPortal.asp" -->
<%
    Response.Write(Environment.NewLine);
    %>
    }
}
<%
}
%>
