<%@ CodeTemplate Inherits="VbCslaTemplateHelper" Language="VB" TargetLanguage="VB" Description="Generates a CSLA Editable Root Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="False" Category="Business Object" Description="Definition of the EditableRoot object to create." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Assembly Name="System.Windows.Forms" %>
<%@ Import Namespace="System.Windows.Forms" %>
<%@ Import Namespace="System.Text" %>
<%@ Property Name="ActiveObjects" Type="System.Boolean" Default="false" Category="Options" Description="If true, base class is generated as ActiveObjects" %>

<% Dim first As Boolean = True %>
<!-- #include file="Header.inc" -->
Imports System.Data.SqlClient
<% If ActiveObjects = False Then %>Imports CSLA<% else %>Imports ActiveObjects<% End If %>
Imports CSLA.Data
<%= GetUsingStatementsString(Info) %>
<% If Info.ObjectNamespace.Trim.Length > 0 Then %>Namespace <%=Info.ObjectNamespace%><% End If %>
	<!-- #include file="XmlComment.inc" -->
	<%= vbLf %>	<Serializable()<% If ActiveObjects Then %>, RegisterNotify("IsValid, IsDirty")<% End If %>> _
	Public MustInherit Class <%=Info.ObjectName%>Base : Inherits <%
			If Info.InheritedType.Type <> String.Empty Then 
				%><%=Info.InheritedType.Type%><% 
			ElseIf Info.InheritedType.ObjectName <> String.Empty Then
				%><%=Info.InheritedType.ObjectName%><% 
			Else 
				%><% If ActiveObjects Then %>Active<% End If %>BusinessBase<% 
			End If %>
		<!-- #include file="StateFields.inc" -->
		
		<!-- #include file="BusinessProps.inc" -->
		
		<!-- #include file="BusinessRules.inc" -->
		
		<!-- #include file="ObjectOverrides.inc" -->
		<%= vbLf %>#Region " Shared Methods "
		<!-- #include file="NewObject.inc" -->
		
		<!-- #include file="GetObject.inc" -->
		
		<!-- #include file="DeleteObject.inc" -->
		
		<!-- #include file="Save.inc" -->
		<%= vbLf %>#End Region
		<!-- #include file="Constructor.inc"  -->
		
		<!-- #include file="Criteria.inc"  -->		
		<%= vbLf %>#region " Data Access "
		<!-- #include file="DataPortalCreate.inc"  -->
		
		<!-- #include file="DataPortalFetch.inc"  -->
		
		<!-- #include file="DataPortalUpdate.inc" -->		
		
		<!-- #include file="DataPortalDelete.inc" -->
		<%= vbLf %>#End Region
	
	End Class
	
<% If Info.ObjectNamespace.Trim.Length > 0 Then %>End Namespace<% End If %>
