<%@ CodeTemplate Inherits="VbCslaTemplateHelper" Language="VB" TargetLanguage="VB" Description="Generates a CSLA Editable Root Object." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="False" Category="Business Object" Description="Definition of the EditableRoot object to create." %>
<%@ Property Name="ActiveObjects" Type="System.Boolean" Default="false" Category="Options" Description="If true, base class is generated as ActiveObjects" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.Util" %>
<%@ Import Namespace="System.Text" %>

<% Dim first As Boolean = True %>
<!-- #include file="Header.inc" -->
Imports System.Data.SqlClient
Imports CSLA
Imports CSLA.Data
<%= GetUsingStatementsString(Info) %>
<% If Info.ObjectNamespace.Trim.Length > 0 Then %>Namespace <%=Info.ObjectNamespace%><% End If %>
	<!-- #include file="XmlComment.inc" -->
	<%= vbLf %>	<Serializable()> _
	Public MustInherit Class <%=Info.ObjectName%>Base : Inherits <%
			If Info.InheritedType.Type <> String.Empty Then 
				%><%=Info.InheritedType.Type%><% 
			ElseIf Info.InheritedType.ObjectName <> String.Empty Then
				%><%=Info.InheritedType.ObjectName%><% 
			Else 
				%>BusinessBase<% 
			End If %>
		<!-- #include file="StateFields.inc" -->

		<!-- #include file="BusinessProps.inc" -->
		
		<!-- #include file="ObjectOverrides.inc" -->
		<%= vbLf %>#Region " Shared Methods "
		<!-- #include file="GetObject.inc" -->
		<%= vbLf %>#End Region
		<!-- #include file="Constructor.inc"  -->
		
		<!-- #include file="Criteria.inc"  -->
		<%= vbLf %>#Region " Data Access "
		<!-- #include file="InternalFetch.inc" -->
		
		<!-- #include file="DataPortalFetch.inc"  -->
		<%= vbLf %>#End Region
	
	End Class

<% If Info.ObjectNamespace.Trim.Length > 0 Then %>End Namespace<% End If %>
